@{
    ViewBag.Title = "AddRoleAuthorizeView";
}  
<header class="CP_header" style="border: 1px solid #eee;">
		 首页 > 权限管理 > 权限添加
		<a href="javascript:history.go(-1)" style="float:right;"><button class="btn btn-primary radius size-S" style="margin-top:-6px;">返回</button></a>
		<a class="btn btn-success radius r size-S mr-20" style="line-height:1.6em;" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
	</header>
<div class="CP_input">
    <div class="panel panel-default">
        <div class="panel-header">
            权限添加</div>
        <div class="panel-body">
            <form action="/SysAdmin/AddRoleAuthorizeView" method="post" class="form form-horizontal responsive" id="demoform">
            <div class="row cl">
                <label class="form-label col-xs-3">
                    权限名称：</label>
                <div class="formControls col-xs-8">
                    <input type="text" class="input-text" placeholder="" name="Name" id="Name" autocomplete="off" />
                </div>
            </div> 
             <div class="row cl">
                <label class="form-label col-xs-3">
                    控制器：</label>
                <div class="formControls col-xs-8">
                    <input type="text" class="input-text" autocomplete="off" placeholder="" name="ControllerName"
                        id="ControllerName" />
                </div>
            </div>
             <div class="row cl">
                <label class="form-label col-xs-3">
                    方法：</label>
                <div class="formControls col-xs-8">
                    <input type="text" class="input-text" autocomplete="off" placeholder="" name="ActionName"
                        id="ActionName" />
                </div>
            </div> 
            <div class="row cl">
                <div class="col-xs-8 col-xs-offset-3">
                    <input class="btn btn-primary" type="button" onclick="CreateRoleAuthorize()" value="&nbsp;&nbsp;提交&nbsp;&nbsp;" />
                </div>
            </div> 
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">  
    function CreateRoleAuthorize() {
        var Name = $("#Name").val();
        var ControllerName = $("#ControllerName").val(); 
        var ActionName = $("#ActionName").val();
        if (Name == "") {
            $.Huimodalalert('请填写权限名称！', 2000)
            return;
        }
        if (ControllerName == "") {
            $.Huimodalalert('请填写控制器名！', 2000)
            return;
        }
        if (ActionName == "") {
            $.Huimodalalert('请填写方法名！', 2000)
            return;
        } 
        $.ajax({
            type: "POST",
            url: "/SysManager/SysAdmin/AddRoleAuthorize",
            data: {
                Name: Name,
                ControllerName: ControllerName,
                ActionName: ActionName 
            },
            success: function (data) {
                if (data.Result) {
                    $.Huimodalalert('提交成功！', 2000)
                } else {
                    $.Huimodalalert(data.Msg, 2000)
                }
            }
        });
    }
</script>


