<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="../../css/H-ui.css" rel="stylesheet" type="text/css" />
    <link href="../../css/style.css" rel="stylesheet" type="text/css" />
    <link href="../../css/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="../../js/H-ui.js" type="text/javascript"></script>
    <!-- 图标 -->
    <link href="../../css/H-ui.admin.css" rel="stylesheet" type="text/css" />
    <script src="../../js/H-ui.admin.js" type="text/javascript"></script>
</head>

<body>
    @RenderBody()
</body>
</html>
